<div class="headline">
  <% if comment.new_record? %>
    <span class="position">New comment as</span>
  <% end %>
  <span class="name">
    <% if comment.site_url %>
      <%= link_to comment.name, fix_url(comment.site_url), :rel => "nofollow" %>
    <% else %>
      <%= comment.name %>
    <% end %>
    <% if params[:controller] != "posts" %>
      on <%= link_to comment.commentable.title, posts_path(comment.commentable, :view => "comments", :anchor => "comment_#{comment.id}") %>
    <% end %>
  </span>
  <span class="pull-right">
    <%= time_ago_in_words comment.created_at %> ago
  </span>
</div>
