#footer-menu
  .container
    .row
      .span11
        #footer-menu-logo
          = link_to root_path, :class => "brand" do
            The Wayward
            %span Traveller
      .span1
        #footer-menu-back-to-top
          %a{href: "#"}
#copyright
  .container
    .span12
      %p © 2012 – Jeremy Ward – All Rights Reserved