<% content_for :content_top do %>
<div id="page-title">
  <div id="page-title-inner">
    <div class="container">
      <h1>
        <i class="<%= icon_class %>"></i><%= title %>
      </h1>
    </div><!-- .container -->
  </div>
</div>
<% end %>