---
http_interactions:
- request:
    method: post
    uri: https://us8.api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"78e80bbc41f2ee62f1cadc17f0a9a52b-us8","id":"c0dfcf27d4","email":{"email":""},"merge_vars":{"FNAME":""},"double_optin":false}'
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - "-100"
      X-N:
      - S
    body:
      encoding: UTF-8
      string: '{"status":"error","code":-100,"name":"ValidationError","error":"The
        email parameter should include an email, euid, or leid key"}'
  recorded_at: Tue, 17 Feb 2015 01:17:31 GMT
recorded_with: VCR 2.9.3
