---
http_interactions:
- request:
    method: post
    uri: https://us8.api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"78e80bbc41f2ee62f1cadc17f0a9a52b-us8","id":"c0dfcf27d4","email":{"email":"eileen@goldnerbins.info"},"merge_vars":{"FNAME":"Alvera"},"double_optin":true}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"eileen@goldnerbins.info","euid":"edf4eeb5b2","leid":"250640577"}'
  recorded_at: Tue, 17 Feb 2015 01:35:58 GMT
recorded_with: VCR 2.9.3
