---
http_interactions:
- request:
    method: post
    uri: https://us8.api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: UTF-8
      string: "{\"apikey\":\"d5c9b280e031b8f2a1370314181646a2-us8\",\"id\":\"a8455a14af\",\"email\":{\"email\":\"jd@example.com\"},\"merge_vars\":{\"FNAME\":\"Jon\"},\"double_optin\":true}"
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - "-100"
      X-N:
      - S
    body:
      encoding: UTF-8
      string: "{\"status\":\"error\",\"code\":-100,\"name\":\"ValidationError\",\"error\":\"This
        email address looks fake or invalid. Please enter a real email address\"}"
  recorded_at: Sat, 07 Jun 2014 05:41:42 GMT
recorded_with: VCR 2.9.0
