<h1>Listing admins_users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admins_users.each do |admins_user| %>
      <tr>
        <td><%= link_to 'Show', admins_user %></td>
        <td><%= link_to 'Edit', edit_admins_user_path(admins_user) %></td>
        <td><%= link_to 'Destroy', admins_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_admins_user_path %>
