= simple_form_for ListSubscriber.new, url: subscribers_path, html: { class: '', remote: true } do |f|
  = f.input :first_name, required: true
  = f.input :email, required: true
  .form-actions
    = f.submit "Keep Me Updated!", class: "btn btn-primary btn-block"
