%h1 Listing list_subscribers

%table
  %tr
    %th
    %th
    %th

  - @list_subscribers.each do |list_subscriber|
    %tr
      %td= link_to 'Show', list_subscriber
      %td= link_to 'Edit', edit_list_subscriber_path(list_subscriber)
      %td= link_to 'Destroy', list_subscriber, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New List subscriber', new_list_subscriber_path
