- content_for :title,  "Blog"

/ - content_for :content_top do
/   .hero-image-container
/     = image_tag("hero/blog_hero_road.jpg", alt: "Lonely Road", class: "hero-image post-hero" )
/ = render partial: "shared/page_title_hero", locals: {title: "Blog", icon_class: "ico-pencil"}
- content_for :content_top do
  #page-title.page-title-hero
    .hero-image.post-hero
    #page-title-inner
      .container
        %h1
          %i.ico-pencil
          Blog

.row
  .span8
    = render @posts
    %section= page_navigation_links(@posts)
  .span4
    = render "newsletter_signup"
    = render "tag_cloud"
