- content_for :title,  "Blog"

- content_for :content_top do
  #page-title.page-title-hero
    .hero-image.post-hero
    #page-title-inner
      .container
        %h1
          %i.ico-pencil
          Blog

.row
  .span8
    = render @posts
    %section= page_navigation_links(@posts)
  .span4
    = render "newsletter_signup"
    = render "tag_cloud"
