<% content_for :title,  "New Post" %>

<%= render :partial => "shared/page_title",
  :locals => {:title => "New Post", :icon_class => "ico-circle-plus"} %>

<div class="content clearfix">
  <div class="span12">
    <div class="row">
      <div class="span11">
        <%= simple_form_for @post, :html => { :class => ' form-horizontal' } do |f| %>
          <%= render :partial => 'form', :locals => {:f => f, :post => @post} %>
          <div class="form-actions">
            <%= f.submit "Save Post", :class => "btn btn-primary" %>
          </div>
        <% end %>
      </div><!-- .span11 -->
    </div><!-- .row -->

  </div><!-- .span11 -->
</div><!-- .content -->

<hr />
