
/* Footer */
.footer {
  #footer-menu-logo {
    a.brand {
      font-size: 22px !important;
      line-height: 54px !important;
      margin-top: 0px !important;
      margin-left: 5px !important;
    }
  }
  #copyright {
    padding-top: 10px;
  }
}

form {
  .control-group.measurement {
    .controls {
      input, select {width:auto;}
      span {padding:0 5px 0 0px;}
      span.option {padding:0 10px 0 5px;}
    }
  }
  label.boolean.control-label {padding-top:0px;}
  label.radio {
    strong {color:#555;}
    span {font-size: 11px;}
  }
  select.date, select.datetime, select.time {
    width:auto;
  }
}


.signin_container {
  margin: 0 auto;
  width: 300px;
  .form-actions {
    margin-bottom: 0;
    padding: 17px 0 0;
  }
  .password_reset {
    margin-bottom: 3px;
    text-align: right;
  }
  .remember_me {
    label {
      float: left;
      font-size: 11px;
      margin-left: 5px;
    }
    input {
      float: left;
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    .brand {
      font-size: 20px !important;
      i {
        margin-top: -3px;
      }
      .circle {
        -webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
        -webkit-border-radius: 20em;
           -moz-border-radius: 20em;
                border-radius: 20em;
        -webkit-box-shadow: 0 0 2px #000;
           -moz-box-shadow: 0 0 2px #000;
                box-shadow: 0 0 2px #000;

      }
      .ico-compass {
        background-position: -9px -297px;
        height: 30px;
        line-height: 30px;
        width: 30px;
      }
    }
  }
}