div.at-share-open-control-left.ats-dark,
div.at-share-open-control-right.ats-dark,
.at-vertical-menu.ats-dark a,
.at-vertical-menu.ats-dark div.at-share-close-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
}

.navbar {
  .divider-vertical {
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #F2F2F2;
  }
}

#nav-user {
  .avatar {
    margin-top: -2px;
    margin-right: 8px;
  }
}

.hero-image {
  margin-top: -90px;
}

/* Footer */
.footer {
  #footer-menu-logo {
    a.brand {
      font-size: 22px !important;
      line-height: 54px !important;
      margin-top: 0px !important;
      margin-left: 5px !important;
    }
  }
  #copyright {
    padding-top: 10px;
  }
}

form {
  .control-group.measurement {
    .controls {
      input, select {width:auto;}
      span {padding:0 5px 0 0px;}
      span.option {padding:0 10px 0 5px;}
    }
  }
  label.boolean.control-label {padding-top:0px;}
  label.radio {
    strong {color:#555;}
    span {font-size: 11px;}
  }
  select.date, select.datetime, select.time {
    width:auto;
  }
}


.signin_container {
  margin: 0 auto;
  width: 300px;
  .form-actions {
    margin-bottom: 0;
    padding: 17px 0 0;
  }
  .password_reset {
    margin-bottom: 3px;
    text-align: right;
  }
  .remember_me {
    label {
      float: left;
      font-size: 11px;
      margin-left: 5px;
    }
    input {
      float: left;
    }
  }
}

.pagination {
  margin:20px 0;
  li {
    margin-right: 0px;
    padding:0;
  }
}

.post {
  padding-top: 0px;
  .post-meta {
    margin: 0px -10px;
    ul.post-meta-items {
      float: left;
      li {
        float: left;
        margin-right: 10px;
      }
    }
  }
  .post-content {
    .post-meta {
      background: #fcfcfc;
      color: #666;
      margin: 10px -20px 0px -20px;
      padding: 10px 25px;
      border-top: 1px solid #f6f6f6;
    }
  }
}
