// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-hero {
  background: url(asset-path("hero/blog_hero_road.jpg")) repeat scroll center center / cover  rgba(0, 0, 0, 0);
  height: 400px;
  width:auto;
}

.pagination {
  margin:20px 0;
  li {
    margin-right: 0px;
    padding:0;
  }
}

.post {
  padding-top: 0px;
  .post-meta {
    margin: 0px -10px;
    ul.post-meta-items {
      float: left;
      list-style: none;
      margin-left: 0px;
      margin-bottom: 0px;
      li {
        float: left;
        margin-right: 10px;
      }
    }
  }
  .picture {
    margin-bottom: 20px;
  }
  .post-content {
    margin:0;
    .post-meta {
      background: #fcfcfc;
      color: #666;
      margin: 10px -20px 0px -20px;
      padding: 10px 25px;
      border-top: 1px solid #f6f6f6;
    }
  }
  .post-icon {
    margin-top: 20px;
  }
  ul {
    list-style: disc outside;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .thumbnails {
    list-style: none;
    margin-left: 0px;
  }
}

.post-summary {
  padding-top: 10px;
}

.comments {
  float:left;
  width:100%;
  line-height: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
     -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
        box-shadow: 0px 1px 1px rgba(0,0,0,.35);
  .comment {
    border-top: 1px solid #E7E7E7;
    margin:20px;
    padding-top: 20px;
    position: relative;
    .avatar {
      float:left;
    }
    .main {
      margin-left: 80px;
      .headline {
        padding: 5px 0 8px 0;
      }
    }
  }
  .comment:first-child {
    border-top:none;
    padding-top: 0px;
  }
  .nested_comments {
    margin-left: 80px;
    .comment:first-child{
      border-top: 1px solid #E7E7E7;
      padding-top: 20px;
    }
    form {
      margin-right: 20px;
      textarea.span6 {
        width:446px;
      }
    }
    .nested_comments {
      form {
        textarea.span6 {
          max-width:375px;
        }
      }
      .nested_comments {
        margin-left: 0px;
      }
    }
  }
}

.comments .comment:first-child {
  border-top:none;
  padding-top: 0px;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .post-hero {
    height: 220px;
  }

  .page-title-hero {
    #page-title-inner {
      padding: 10px 0;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
}

