<!-- start: Slider -->
<div class="slider-wrapper">

  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <div class="da-img">
        <%= image_tag("theme/parallax-slider/ganster_couple.jpg", alt: "Jeremy and Jessica Ward" ) %>
      </div>
    </div>
    <div class="da-slide">
      <div class="da-img">
        <%= image_tag("theme/parallax-slider/kayak.jpg", alt: "Lonely Kayak" ) %>
      </div>
    </div>
    <div class="da-slide">
      <div class="da-img">
        <%= image_tag("theme/parallax-slider/bonfire.jpg", alt: "Bonfire with Family" ) %>
      </div>
    </div>
    <div class="da-slide">
      <div class="da-img">
        <%= image_tag("theme/parallax-slider/az_ulbp.jpg", alt: "Ultralight Backpacking in Arizona" ) %>
      </div>
    </div>
    <nav class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>
    </nav>
  </div>

</div>
<!-- end: Slider -->